<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZBY_HW_GATE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZBY_HW_GATE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <connectionStrings />
  <applicationSettings>
        <ZBY_HW_GATE.Properties.Settings>
              <setting name="ServerIPAddr" serializeAs="String">
                    <value>127.0.0.1</value>
              </setting>
              <setting name="ServerPort" serializeAs="String">
                    <value>12011</value>
              </setting>
              <setting name="LaneNum" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="PlateIPAddr" serializeAs="String">
                    <value>192.168.1.98</value>
              </setting>
              <setting name="PlatePort" serializeAs="String">
                    <value>8080</value>
              </setting>
              <setting name="PlatePicSavrPath" serializeAs="String">
                    <value>C:\\Image\\</value>
              </setting>
              <setting name="prefix" serializeAs="String">
                    <value>0030323130393533</value>
              </setting>
              <setting name="CVRCom" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="NetWork" serializeAs="String">
                    <value>127.0.0.1</value>
              </setting>
              <setting name="InDoorIp" serializeAs="String">
                    <value>192.168.1.111</value>
              </setting>
              <setting name="InDoorPort" serializeAs="String">
                    <value>60000</value>
              </setting>
              <setting name="OutDoorIp" serializeAs="String">
                    <value>192.168.1.112</value>
              </setting>
              <setting name="OutDoorPort" serializeAs="String">
                    <value>60000</value>
              </setting>
              <setting name="InDoorSN" serializeAs="String">
                    <value>223166359</value>
              </setting>
              <setting name="OutDoorSN" serializeAs="String">
                    <value>223285189</value>
              </setting>
              <setting name="nControlType" serializeAs="String">
                    <value>1126</value>
              </setting>
              <setting name="nScreenNo" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="nSendMode" serializeAs="String">
                    <value>2</value>
              </setting>
              <setting name="nWidth" serializeAs="String">
                    <value>256</value>
              </setting>
              <setting name="nHeight" serializeAs="String">
                    <value>160</value>
              </setting>
              <setting name="nScreenType" serializeAs="String">
                    <value>4</value>
              </setting>
              <setting name="nPixelMode" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="pCom" serializeAs="String">
                    <value>COM1</value>
              </setting>
              <setting name="nBaud" serializeAs="String">
                    <value>57600</value>
              </setting>
              <setting name="pSocketIP" serializeAs="String">
                    <value>192.168.1.118</value>
              </setting>
              <setting name="nSocketPort" serializeAs="String">
                    <value>5005</value>
              </setting>
              <setting name="nServerMode" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="pBarcode" serializeAs="String">
                    <value />
              </setting>
              <setting name="pNetworkID" serializeAs="String">
                    <value />
              </setting>
              <setting name="pServerIP" serializeAs="String">
                    <value>112.65.245.174</value>
              </setting>
              <setting name="nServerPort" serializeAs="String">
                    <value>6055</value>
              </setting>
              <setting name="pServerAccessUser" serializeAs="String">
                    <value />
              </setting>
              <setting name="pServerAccessPassword" serializeAs="String">
                    <value />
              </setting>
              <setting name="pCommandDataFile" serializeAs="String">
                    <value />
              </setting>
              <setting name="nDYAreaID" serializeAs="String">
                    <value>5</value>
              </setting>
              <setting name="nRunMode" serializeAs="String">
                    <value>2</value>
              </setting>
              <setting name="nTimeOut" serializeAs="String">
                    <value>30</value>
              </setting>
              <setting name="nAllProRelate" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="pProRelateList" serializeAs="String">
                    <value />
              </setting>
              <setting name="nPlayImmediately" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="nAreaX" serializeAs="String">
                    <value>88,88,88,161,120</value>
              </setting>
              <setting name="nAreaY" serializeAs="String">
                    <value>29,55,81,56,107</value>
              </setting>
              <setting name="nAreaWidth" serializeAs="String">
                    <value>168,70,70,95,128</value>
              </setting>
              <setting name="nAreaHeight" serializeAs="String">
                    <value>19,19,19,42,19</value>
              </setting>
              <setting name="nAreaFMode" serializeAs="String">
                    <value>255</value>
              </setting>
              <setting name="nAreaFLine" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="nAreaFColor" serializeAs="String">
                    <value>255</value>
              </setting>
              <setting name="nAreaFStunt" serializeAs="String">
                    <value>7</value>
              </setting>
              <setting name="nAreaFRunSpeed" serializeAs="String">
                    <value>6</value>
              </setting>
              <setting name="nAreaFMoveStep" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="pText" serializeAs="String">
                    <value />
              </setting>
              <setting name="nShowSingle" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="pFontName" serializeAs="String">
                    <value>“宋体"</value>
              </setting>
              <setting name="nFontSize" serializeAs="String">
                    <value>12</value>
              </setting>
              <setting name="nBold" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="nFontColor" serializeAs="String">
                    <value>65535</value>
              </setting>
              <setting name="nStunt" serializeAs="String">
                    <value>2</value>
              </setting>
              <setting name="nRunSpeed" serializeAs="String">
                    <value>8</value>
              </setting>
              <setting name="nShowTime" serializeAs="String">
                    <value>5</value>
              </setting>
              <setting name="nDelAllDYArea" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="pDYAreaIDList" serializeAs="String">
                    <value>0,1,2,3,4</value>
              </setting>
              <setting name="nStaticIpMode" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="nAlignment" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="LocalIp" serializeAs="String">
                    <value>192.168.1.55</value>
              </setting>
              <setting name="CVRReadWhile" serializeAs="String">
                    <value>60</value>
              </setting>
              <setting name="HttpS" serializeAs="String">
                    <value>http://10.87.216.31:19090/ProsGardenCar</value>
              </setting>
              <setting name="eqid" serializeAs="String">
                    <value>SPPLS01</value>
              </setting>
              <setting name="HttpTimeOut" serializeAs="String">
                    <value>3000</value>
              </setting>
              <setting name="HttpReadWriteTimeout" serializeAs="String">
                    <value>3000</value>
              </setting>
              <setting name="SockerClientIp" serializeAs="String">
                    <value>127.0.0.1</value>
              </setting>
              <setting name="SocketClientPort" serializeAs="String">
                    <value>5005</value>
              </setting>
        </ZBY_HW_GATE.Properties.Settings>
    </applicationSettings>
  <userSettings>
    <ZBY_HW_GATE.Properties.Settings>
      <setting name="LED_Supplier" serializeAs="String">
        <value>未确认身份</value>
      </setting>
      <setting name="LED_Appointment" serializeAs="String">
        <value>无数据</value>
      </setting>
      <setting name="LED_Parked" serializeAs="String">
        <value>待定</value>
      </setting>
      <setting name="LED_Ontime" serializeAs="String">
        <value>无数据</value>
      </setting>
      <setting name="Plate_Error" serializeAs="String">
        <value>未识别到车牌，请按地面指示行驶！</value>
      </setting>
      <setting name="Plate_Result" serializeAs="String">
        <value>普洛斯物流园祝您一路顺风！</value>
      </setting>
      <setting name="Plate_Tmp" serializeAs="String">
        <value>请出闸</value>
      </setting>
    </ZBY_HW_GATE.Properties.Settings>
  </userSettings>
</configuration>